<div class="mainCont">
<%= image_tag("golfswing.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>   
<%provide(:title, "Home")%>
<h1>Home</h1>
<p>Welcome to your first page!</p>
<%=render 'layouts/categories'%>

</div>